.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(2, 1, 24) 0%, rgb(67, 86, 146) 39%, rgb(68, 24, 70) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #191654;
    z-index: 300;
  }
  
  svg {
    height: 300px;
    width: 300px;
    stroke: rgb(237, 241, 212);
    fill-opacity: 0;
    stroke-width: 10px;
    stroke-dasharray: 4500;
    animation: draw 20s ease-in infinite ;
    position: absolute;
    
  }
  
  @keyframes draw {
    0% {
      stroke-dashoffset: 4500;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  .l{
    position: relative;
    left: 50px;
    top: 39px;
  }
  
  .name-container {
    height: 30px;
    overflow: hidden;
  }
  
  .logo-name {
    color: #fff;
    font-size: 20px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: bolder;
  }

  @media screen and (max-width: 700px){
    .loading-page{
      height: 100%;
    }
    .name-container{
      text-align: center;
      margin-top: 23px;
    }
    svg{
      height: 250px;
      width: 250px;
    }
  }